/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/03/2020, 09:08:11 PM
    Author     : brandonrodriguez
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
html{
    width: 100%;
    /*    height: 100%;
        overflow: hidden*/
}
body{
    padding: 0;
    margin: 0;
    width: 100%;
    /*    height: 100%;
        overflow: hidden*/
}

.flex{
    display: flex;
}

#left-panel{
    width: 25vw;
    height: 100vh;
    background: white;
    z-index: 0;
    position: relative
}




#card-2{
    width:15vw;
    padding: 20px;
    overflow: hidden;   
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    margin-bottom: 15px;
    z-index: 99;
    background: rgba(0,0,0,0.8);
    border-radius: 20px;
    color:white;
}
#card-title{
    padding-left: 10px;
}
#card-content{
    margin-top: 10px;
    background: white;
    color: black;
    height: 100%;
    width: 100%;
    padding-top: 10px;
    padding-left: 5px;
}

.left-panel{

    top:0;
    width: 40vw;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    color:white;

}

.content-index{
    margin-top:30vh;
    text-align: right;
    padding: 30px;
}

.imagen{
    background: url('https://images.unsplash.com/photo-1506521781263-d8422e82f27a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
    background-size: cover
}

a{
    color:white
}

a:visited{
    color: white
}

#menu{
    background: black;
    color: white;
    /*background: rgba(0,0,0,0.8);*/
    z-index: 99;
    text-align: center;
    height: 50px;
}
.slider{
    width: 27vw;
    /*background: white; opcion 2*/
    background: rgba(0,0,0,1);
    /*border:0.1em black solid; opcion2*/
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 99;
    /*border-radius: 20px;*/
    padding: 5px;
    overflow: hidden;
    text-align: center;
    /*border-radius: 20px;*/
}
.slides{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
.slides::-webkit-scrollbar {

    width: 10px;
    height: 10px;
}
.slides::-webkit-scrollbar-thumb {
    margin-top:5px;  
    background: white;
    border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
    background: transparent;
}
.slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 25vw;
    height: 86vh;
    margin-right: 10px;
    border-radius: 10px;
    border: 0.1em white solid;
    /*border:0.1em black solid; opcion 2*/
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;



    font-size: 14px;

    z-index: 99;
    color:white;
    /*color:black; opcion 2*/
    padding: 5px;
}
#ref > a {

    display: inline-flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    /*margin: 0 0 0.5rem 0;*/
    position: relative;
    color: white;
    /*color:black; opcion2*/
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding-left: 5px;
    padding-right: 5px;
    /*  border: 0.1em white solid;
      border-radius: 50px;*/
    transition: all 0.5s ;
    border-right: 0.1em white solid;
}
#ref{
    display: flex;
    border: 0.1em white solid;
    border-radius: 50px;
    margin: 0 0 0.5rem 0;
    justify-content: center;
    align-items: center;

}
#ref > a:hover {
    background: white;
    color:black;
}
.leaflet-control-attribution{
    display: none;
}

table.compacto{
    font-size: 8px;
}

table.compacto {
    border-collapse: collapse;
    width: 100%;
    font-size: 10px;
    border: 1px solid #ddd;
}

table.compacto th {
    padding: 2px;
    background-color: black;
    color:white
}

table.compacto tr:nth-child(even){background-color: #f2f2f2;}
table.compacto tr:nth-child(odd){background-color: #ddd;}

table.compacto tr {
    text-align: left;
    color: black;
}

.imagen2{
    background: url('https://images.unsplash.com/photo-1493780758133-e5cfb0d00354?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1497&q=80');
    background-size: cover;
    /*background: no-repeat;*/
    width: 100vw;
    height: 100%;
}

.center{
    /*height: 100vh;*/
    width: 40vw;
    position: absolute;
    left: 30vw;
    top:0;
    background: rgba(0,0,0,0.8);
    color:white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;

}


input[type=submit], input[type=button]{
    background-color: black;
    border: white solid 0.1em;
    color: white;
    text-decoration: none;
    margin: 2px 2px;
    cursor: pointer;  
    padding: 5px 10px;
    transition: 0.3s all linear;
    border-radius: 20px
}

input[type=submit]:hover , input[type=button]:hover{
    background-color: white;
    color: black;
}
select {
    width: 60%;
    border: solid white 0.1em;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    background-color: black; 
    margin: 3px;
}
.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.mapboxgl-ctrl-attrib-inner{display:none}
.mapboxgl-ctrl-logo{visibility:hidden}

.filter{
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    z-index: 99;
    color:white;
    display: none
}

.popUp{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 50vw;
    height: auto;
    border-radius: 20px;
    background: white;
    color: black;
    margin: auto;
    padding-left: 20px;

}


#map{
    margin-left:27vw ; width: 73vw; height: 100vh; z-index: 0;
}



#register-user{
    /*margin-left: 30px;*/
     display: flex;
   flex-direction: column;
   text-align: right;
  justify-content: center; align-items: center; 

}
#register-pass{
   display: flex;
   flex-direction: column;
   text-align: right;
  justify-content: center; align-items: center;  

}

#userF:hover{
    cursor: pointer;
    text-decoration: underline
}

#parkF:hover{
    cursor: pointer;
    text-decoration: underline
}
table{width: 28vw;
}

images{
    overflow: hidden;
    z-index: -3;
}

#register-park{
/*    padding-left: 25px;*/
 display: flex;
   flex-direction: column;
   text-align: right;
  justify-content: center; align-items: center; 
    display: none;
}
#image-pass{
    height: 70vh;
    width: 35vw;
    background: url('https://images.unsplash.com/photo-1549927455-67cc16cc490c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
    background-position:center;
    background-size: cover; 
    background-repeat: no-repeat
}
#image-user{ 
    height: 70vh;
    width: 35vw;
    background: url('https://images.unsplash.com/photo-1449965408869-eaa3f722e40d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
    background-position:center;
    background-size: cover; 
    background-repeat: no-repeat
}
#image-park{
    height: 70vh;
    width: 35vw;
    background: url('https://images.unsplash.com/photo-1493780758133-e5cfb0d00354?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2397&q=80');
    background-position: center;
    background-size: cover;
    display: none;
}
#imagen-formulario{
     height: 70vh;
    width: 35vw;
    background: url('https://images.unsplash.com/photo-1554224155-6726b3ff858f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1772&q=80');
    background-position:center;
    background-size: cover; 
    background-repeat: no-repeat
}
#imagen-Precios{
     height: 70vh;
    width: 35vw;
    background: url('https://images.unsplash.com/photo-1500496733680-167c3db69389?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
    background-position:center;
    background-size: cover; 
    background-repeat: no-repeat
}

.middle{
    position: absolute;
    height: 70vh;
    width: 70vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background: white;
    color:black;
    -webkit-box-shadow: 1px 4px 12px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 4px 12px -3px rgba(0,0,0,0.75);
    box-shadow: 1px 4px 12px -3px rgba(0,0,0,0.75);
}

.left-dahsboard{
    width: 17vw;
    background: black;color: white;
    padding: 10px;
    margin-right: 5px;
    min-height: calc(100vh - 50px);
}
.center-dashboard{
    width: 23vw;
    height: auto;
    background: white;
    padding: 10px;
    min-height: 100vh-10px;
    margin: 5px;
}

.right-dashboard{
    width: 60vw;
    height: auto;
    background: white;
    padding: 10px;
    min-height: 100vh-10px;
    margin: 5px;
}

.logo{

    background-image: url('https://66.media.tumblr.com/bcad81e1eb1dfb511dc4114fef6c1d9e/7890fe78734543a2-67/s1280x1920/28cc0f83c117229fe35e89b4f78dc51bf5779d75.png');
    background-size: contain;
    width: 100px;
    height: 50px;
    background-repeat: no-repeat;
}

.logo:hover{
    cursor: pointer
}


.panel{
    width: 30vw;
    height: auto;
    background: white;
    padding: 10px;
    min-height: 100vh-10px;
    margin: 5px;
}
.panel-reporte{
    width: 81vw;
    background: white;
    margin: auto;
    padding-left: 20px
}
#reporteMadrugada{
      width: 20vw; 
}

#reporteManaina{
       width: 20vw;
}
#reporteTarde{
    width: 20vw;
}
#reporteNoche{
       width: 20vw;
}
#reporteDiario{
    width: 50vw;
}
#reporteIntervalo{
     width: 50vw;
}
#reportePlaza{
     width: 50vw;
}
@media only screen and (max-width: 380px) {
    #map {

        /*background-color: lightblue;*/
    }
}